@import url("LayoutIcons.css");
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.epiStringList .dijitTextArea {
    width: 250px;
}

.epiStringList .epiStringListError .dijitTextArea {
    border: solid 1px #d46464;
}

.customContentTypeIcon {
    position: relative;
    width: 16px;
    height: 16px;
    margin-top: 1px;
}
.customContentTypeIcon:before {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: 'material icons';
    font-size: 17px;
    color: #5c666a;
}

.customContentTypeIcon--form:before {
    content: "content_paste";
}